*{
    box-sizing: border-box;
}

html,body {
    margin:0;
    background-color:rgb(64,132,167);
    height: 100%;

}

/*全体適用要素*/
.container {
    max-width: 1170px;
    width:100%;
    margin: 0 auto ;
    padding: 10px 15px;
    border: 1px solid blue;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*ここまで全体適用*/

/*ヘッダー*/
header {
width: 100%;
background-color: rgba(0,43,65,0.8);
color: #fff;
margin-bottom: 20px;
position: fixed;
top: 0;
z-index: 8;
}

h1 {
    display: inline-block;
    cursor: pointer;
}

.header-list  {
    float: right;
    
}


.header-list li {
    float: left;
    margin: 0 30px;
    line-height: 60px;
}

/*ハンバーガーメニュー*/
/*デフォルト時のボタンスタイルをリセット*/
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

/*以下ハンバーガーボタン*/
.burger-btn{
    display: block; 
    float: right;     
    width: 39px;      
    height: 39px;      
    position: relative;      
    z-index: 3;
    border:none;
    display: none;    
  }    
  .bar{      
    width: 20px;      
    height: 1px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
  }    
  .bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }

  /*メニューを開いたときの見た目×を作る*/
  /*.burger-btnに.closeクラスがつかされたら×になる*/
  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);      
    transition: transform .3s;    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0;       
    transition: opacity .3s;    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg);      
  transition: transform .3s;    
  }

/*ここまでヘッダー*/

/*ハンバーガーメニュー内*/
.nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  
  .header-nav {
    background-color: rgba(0,43,65,0.9);
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .nav-list {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
  }

.nav-list  a {
    text-decoration: none;
    color:#fff;
}
  .nav-item {
    text-align: center;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }





/*トップ画像*/
.wrapper-top{
    text-align: center;
    border: 1px solid red;
    margin: 150px 0 10px 0;
}

.wrapper-top img {
    width: 30%;
    border-radius: 50%;
}
/*ここまでトップ画像*/

/*簡易プロフィール*/
.easy-prf {
    border: 1px solid yellow;
    margin: 10px 0;
    font-weight: borld;
    color: #fff;
    text-align: center;
}

.easy-prf ul {
    width: 100%;
    font-family:'Kokoro';
    font-weight: bold;
    margin: 0 auto;
    border: 1px solid red;
}

.easy-prf li {
    border: 1px solid #fff;
    margin:10px 30px 10px 5px;
    padding-right: 10px;
    
}

#twitter-icon  img{
    margin: 0 10px;
    width: 50px;
    height: auto;
}

#facebook-icon img {
    margin: 0 10px;
    width: 50px;
    height: auto;
}

.clear {
    clear: left;
}

/*ここまで簡易*/

/*Q&A*/
.QandA  {
    background-color: rgb(245,242,219);
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid orange;
}
.QandA h2 {
    text-align: center;
} 

.QandA ul {
 border: 1px solid red;
 padding-right: 35px;
}

.question-list h3 {
    position: relative;
    font-size: 15px;
}

.QandA li {
 border-bottom: 1px solid silver;
 padding: 10px;
 text-align: left;
 cursor: pointer;
}

.question-list span {
    position:absolute;
    top: 10px;
    right: 5px;
    color: silver;
    text-align: right;
}

.answer {
    font-size: 12px;
    display: none;
    padding: 5px 0px;
    
}

/*ここまでQ&A*/

/*フッター*/
footer {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(0,43,65);
}

footer div {
    border: 1px solid red;
    padding: 5px;
    color: #fff;
    text-align: center;
}
/*ここまでフッター*/


/*趣味ページ*/
header a {
  text-decoration: none;
  color: #fff;
}

.like-wrapper {
  border: 1px solid red;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #5e6f84;
  padding: 90px 0;
}

.like-wrapper h2 {
  color:#fff;
}

.slides {
  padding: 0;
  border: 1px solid burlywood;
}

.slide {
  border: 1px solid yellow;
  display: inline-block;
  margin: 0 10px;
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  height: auto;
}

.btn-wrapper {
  color: white;
}

.index-btn {
  border:1px solid red;
  padding: 10px 15px;
  display: inline-block;
  background-color: rgb(0,43,65);
}

.index-btn:hover {
 background-color: rgba(0,43,65,0.8);
}

/*ここまで写真撮影*/

/*ここからイラスト制作欄*/

.art-wrapper {
  border: 1px solid green;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #5e6f84;
  padding: 90px 0;
}

.art-wrapper h2 {
  color: #fff;
}

.change-btn {
  color: #fff;
  margin: 0 20px;
}


.change-btn-wrapper {
  width: 100%;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

/*前へ　次への非表示*/
.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
  
}

.next-btn {
  float: right;
  cursor: pointer;
}

.slide-art {
  border: 1px solid yellow;
  display: inline-block;
  margin: 0 10px;
  display: none;

}

.action {
  display: block;
}


.slide-art img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

/*トップに戻るボタン*/
.top-back {
  float: right;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  background-color:  rgb(0,43,65);
  cursor: pointer;
}

